NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/retina-scan

BUCKET_NAME=retinascan
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@retinascan.local
ADMIN_PASSWORD=SenhaMuitoForte123
ADMIN_BIRTH_DATE=1980-01-01
ADMIN_CRM=000000-DF
ADMIN_CPF=00000000000
ADMIN_IDENTITY_NUMBER=0000000

BETTER_AUTH_SECRET=9d7d2b5f3dd93ace4cc43579729d187a24ff5594d1feea6af39356f41902968e
CRYPTOGRAPHY_SECRET=super-hiper-mega-ultra-secret